<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        link(rel="stylesheet", href="css/main.min.css")
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
        title Baikal
    body   
        .container.header(style='margin-bottom: 95px')
            header.about
                nav.navbar.navbar-expand-md.justify-content-between.navbar-light(role='navigation')
                    a.navbar-brand(href="./index.html") Байкал комфорт
                    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
                        i.fas.fa-bars
                    .collapse.navbar-collapse#navbarNavAltMarkup
                        .navbar-nav
                            a.nav-item.nav-link(href="#") Куда поехать?
                            a.nav-item.nav-link(href="#") Где жить?
                            a.nav-item.nav-link(href="./contacts.html") Как с нами связаться?
                    a.nav-item.nav-link.phone(href="#") +7 (999) 999-99-99
                    .cart-black
                        .cont(data-toggle="modal" data-target="#myModal")
                            i.fas.fa-circle.circle-b
                                .bag
                            i.fas.fa-circle.circle-s
                                span 4
        .bg-about
            .container.about
                .row
                    h2 Мыс Котельниковский
                    p Вы прочувствуете всю мощь Байкала, когда пронесетесь по волнам на скоростном катере 70 км. и будете удивлены островку цивилизации среди нетронутой тайки - термальному курорту «Мыс Котельниковский». Здесь Вы восстановите здоровье в термальных бассейнах с видом на озеро Байкал. Окунетесь в атмосферу гармонии и тишины, где полноценно сможете отдохнуть от городского шума и суеты
                    p Мыс Котельниковский находится на северо-западном побережье Байкала в 80км к югу от города Северобайкальск. Когда-то здесь было фактория купца Котельниковского, в его честь мыс, который сейчас ласково именуют «Котелками», и получил свое название. Котельниковские источники - это единственный известный выход горячих вод на западном берегу озера, и они не имеют аналогов в байкальском рифте.
                    h3 Температура
                    p Температура воды Кательноковского источника на выходе зимой и летом стабильно досигает 81°С. С целью сохранения всех природных свойств воды нашего термального источника, при регулировании температуры воды в бассейнах не используется искусственное охлаждение или разбавление. Комфортная температура поддерживается благодаря специальным температурным датчикам, регулирующим подачу напрямую из источника.
                    h3 Польза термальных вод
                    p Горячие воды источника целебны, они помогают при заболеваниях опорно-двигательного аппарата, центральной нервной системы, при болезнях суставов и гинекологических заболеваниях. Также они активизируют и укрепляют защитные силы организма, благотворно влияют на костно-мышечную ткань, чистят и лечат кожу.
                    p Вода целебного источника фторидно-гидрокарбонатная натриевая с минирализацией 0,32г/л. Для эффективности лечения рекомендуется купаться в источнике несколько раз в день на протяжении минимум недели.
        
        .bg-footer
            .container
                .row.b-footer
                .row.footer.justify-content-between
                    .col-4
                        a(href="./index.html") Байкал комфорт
                    .col-8
                        a(href="#") Куда поехать?
                        a(href="") Где жить?
                        a(href="./contacts.html") Как с нами связаться?
                        a(href="") +7 (999) 999-99-99
