<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        link(rel="stylesheet", href="css/main.min.css")
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
        title Baikal
    body   
        .container.header(style='margin-bottom: 95px')
            header.contacts
                nav.navbar.navbar-expand-md.justify-content-between.navbar-light(role='navigation')
                    a.navbar-brand(href="./index.html") Байкал комфорт
                    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
                        i.fas.fa-bars
                    .collapse.navbar-collapse#navbarNavAltMarkup
                        .navbar-nav
                            a.nav-item.nav-link(href="./about.html") Куда поехать?
                            a.nav-item.nav-link(href="#") Где жить?
                            a.nav-item.nav-link(href="#") Как с нами связаться?
                    a.nav-item.nav-link.phone(href="#") +7 (999) 999-99-99
                    .cart-black
                        .cont(data-toggle="modal" data-target="#myModal")
                            i.fas.fa-circle.circle-b
                                .bag
                            i.fas.fa-circle.circle-s
                                span 4
        .bg-contacts
            .container.contacts
                .row.justify-content-between
                    .col-12.col-md-5.col-lg-4
                        h2 Контакты
                        p
                            i.fas.fa-phone
                            span
                                strong +7 (999) 999-99-99
                                |  (мобильный) 
                                strong +7 (999) 999-99-99
                                |  (офис)
                        p
                            i.fas.fa-envelope
                            strong s-tour@baikal-comfort.ru                    
                        p
                            i.fab.fa-vk
                            strong vk.com/baikal-comfort                    
                        p
                            i.fab.fa-instagram
                            strong instagram.com/baikal-comfort
                    .col-12.col-md-7.col-lg-8
                        h2 Реквизиты
                        .row
                            .col-12.col-xl-6
                                p
                                    strong Краткое наименование организации
                            .col-12.col-xl-6
                                p ООО «Байкал Комфорт»
                        .row
                            .col-12.col-xl-6
                                p
                                    strong Юридический / почтовый адрес
                            .col-12.col-xl-6
                                p 671700, РБ, г. Северобайкальск, ул. Полиграфистов 2Б, секция № 2
                        .row
                            .col-12.col-xl-6
                                p
                                    strong Генеральный директор
                            .col-12.col-xl-6
                                p Огнев Денис Игоревич
                        .row
                            .col-12.col-xl-6
                                p
                                    strong Номер в Едином федеральном реестре туроператоров
                            .col-12.col-xl-6
                                p РТО 020174
                        .row
                            .col-12.col-xl-6
                                p
                                    strong Документ о финансовом обеспечении
                            .col-12.col-xl-6
                                p М175227-43-18, ООО «СО «Помощь»
                        .row
                            .col-12.col-xl-6
                                p
                                    strong Размер финансового обеспечения
                            .col-12.col-xl-6
                                p 500 000 руб
                        .row
                            .col-12.col-xl-6
                                p
                                    strong Сфера туроператорской деятельности
                            .col-12.col-xl-6
                                p Внутренний, въездной туризм
        .bg-footer
            .container
                .row.b-footer
                .row.footer.justify-content-between
                    .col-4
                        a(href="./index.html") Байкал комфорт
                    .col-8
                        a(href="./about.html") Куда поехать?
                        a(href="") Где жить?
                        a(href="#") Как с нами связаться?
                        a(href="") +7 (999) 999-99-99