<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/simplebar@2.4.3/dist/simplebar.css')
        link(rel="stylesheet", href="css/main.min.css")
        script(src='https://cdn.jsdelivr.net/npm/simplebar@2.4.3/dist/simplebar.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.esm.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.esm.bundle.js')
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
        title Baikal
    body
        //img(src="img/Main.jpg", alt="" width='100%' style='top: 0; left: 0; position: absolute; opacity: 0.3; z-index: 1; display: ')
        //img(src="img/Main-1024.jpg", alt="" width='100%' style='top: 0; left: 0; position: absolute; opacity: 0.3; z-index: 1; display: ')
        //img(src="img/Main-768.jpg", alt="" width='100%' style='top: 0; left: 0; position: absolute; opacity: 0.3; z-index: 1; display: ')
        //img(src="img/Main-320.jpg", alt="" width='100%' style='top: 0; left: 0; position: absolute; opacity: 0.3; z-index: 1; display: ')
        //img(src="img/modal.jpg", alt="" width='100%' style='top: -2950px; left: 0; position: absolute; opacity: 0.3; z-index: 1051; display: ')
        .bg-top
            .container.header
                header
                    nav.navbar.navbar-expand-md.justify-content-between.navbar-light(role='navigation')
                        a.navbar-brand(href="#") Байкал комфорт
                        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
                            i.fas.fa-bars
                        .collapse.navbar-collapse#navbarNavAltMarkup
                            .navbar-nav
                                a.nav-item.nav-link(href="./about.html") Куда поехать?
                                a.nav-item.nav-link(href="#") Где жить?
                                a.nav-item.nav-link(href="./contacts.html") Как с нами связаться?
                        a.nav-item.nav-link(href="#") +7 (999) 999-99-99
                        div
                            div(data-toggle="modal" data-target="#myModal-3")
                                i.fas.fa-circle
                                    .bag
                                i.fas.fa-circle
                                    span 4
            .container.block-top
                .row
                    .col-lg-12
                        span Путешествуй
                        span по Байкалу
        .bg-mountain
            .bg-mountain-shadow
                .bg-mountain-pic
                    .container.tours
                        .row.justify-content-center
                            .col-12
                                h1 Куда поехать?
                            .col-12
                                p В вашем распоряжении 
                                    strong 11 туристических дней на любой вкус!
                                    br
                                    |  Просто выберите понравившиеся туры, добавьте в корзину, заполните форму и мы с вами свяжемся
                        .row
                            .col-12
                                nav
                                    .nav.nav-tabs(id='nav-tab' role='tablist')
                                        a.nav-item.nav-link.active(id='nav-alltours-tab' data-toggle='tab' href='#nav-alltours' role='tab' aria-controls='nav-alltours' aria-selected='true')
                                            i.fas.fa-th
                                            span Все туры
                                        i.fas.fa-caret-down
                                        a.nav-item.nav-link(id='nav-term-tab' data-toggle='tab' href='#nav-term' role='tab' aria-controls='nav-term' aria-selected='false')
                                            i.fab.fa-hotjar
                                            span Термальные источники
                                        a.nav-item.nav-link(id='nav-active-tab' data-toggle='tab' href='#nav-active' role='tab' aria-controls='nav-active' aria-selected='false')
                                            i.fas.fa-swimmer
                                            span Активный отдых
                                        a.nav-item.nav-link(id='nav-fish-tab' data-toggle='tab' href='#nav-fish' role='tab' aria-controls='nav-fish' aria-selected='false')
                                            i.fas.fa-fish
                                            span Рыболовство
                            .col-md-6.col-lg-4
                                .img(style='background-image: url(img/photo-1.png); background-position: 58% 60%' data-toggle="modal" data-target="#myModal-3")
                                    .mask
                                    div
                                        i.fab.fa-hotjar
                                        span Термальные источники
                                        h3 Дзелинда
                                        span от 
                                            span 5000
                                            |  руб/чел
                            .col-md-6.col-lg-4
                                .img(style='background-image: url(img/photo-2.png)' data-toggle="modal" data-target="#myModal")
                                    .mask
                                    div
                                        i.fab.fa-hotjar
                                        span Термальные источники
                                        h3 Котельниковский
                                        span от 
                                            span 5000
                                            |  руб/чел
                            .col-md-6.col-lg-4
                                .img(style='background-image: url(img/photo-3.png)' data-toggle="modal" data-target="#myModal")
                                    .mask
                                    div
                                        i.fab.fa-hotjar
                                        span Термальные источники
                                        h3 Красоты севера
                                        span от 
                                            span 5000
                                            |  руб/чел
                            .col-md-6.col-lg-4
                                .img(style='background-image: url(img/photo-1.png)' data-toggle="modal" data-target="#myModal")
                                    .mask
                                    div
                                        i.fab.fa-hotjar
                                        span Термальные источники
                                        h3 Дзелинда
                                        span от 
                                            span 5000
                                            |  руб/чел
                            .col-md-6.col-lg-4
                                .img(style='background-image: url(img/photo-1.png)' data-toggle="modal" data-target="#myModal")
                                    .mask
                                    div
                                        i.fab.fa-hotjar
                                        span Термальные источники
                                        h3 Котельниковский
                                        span от 
                                            span 5000
                                            |  руб/чел
                            .col-md-6.col-lg-4
                                .img(style='background-image: url(img/photo-1.png)' data-toggle="modal" data-target="#myModal")
                                    .mask
                                    div
                                        i.fab.fa-hotjar
                                        span Термальные источники
                                        h3 Красоты севера
                                        span от 
                                            span 5000
                                            |  руб/чел
                            .col-md-6.col-lg-4
                                .img(style='background-image: url(img/photo-1.png)' data-toggle="modal" data-target="#myModal")
                                    .mask
                                    div
                                        i.fab.fa-hotjar
                                        span Термальные источники
                                        h3 Дзелинда
                                        span от 
                                            span 5000
                                            |  руб/чел
                            .col-md-6.col-lg-4
                                .img(style='background-image: url(img/photo-1.png)' data-toggle="modal" data-target="#myModal")
                                    .mask
                                    div
                                        i.fab.fa-hotjar
                                        span Термальные источники
                                        h3 Котельниковский
                                        span от 
                                            span 5000
                                            |  руб/чел
                            .col-md-6.col-lg-4
                                .img(style='background-image: url(img/photo-1.png)' data-toggle="modal" data-target="#myModal")
                                    .mask
                                    div
                                        i.fab.fa-hotjar
                                        span Термальные источники
                                        h3 Красоты севера
                                        span от 
                                            span 5000
                                            |  руб/чел
                            .col-md-6.col-lg-4
                                .img(style='background-image: url(img/photo-1.png)' data-toggle="modal" data-target="#myModal")
                                    .mask
                                    div
                                        i.fas.fa-swimmer
                                        span Активный отдых
                                        h3 Дзелинда
                                        span от 
                                            span 5000
                                            |  руб/чел
                            .col-md-6.col-lg-4
                                .img(style='background-image: url(img/photo-1.png)' data-toggle="modal" data-target="#myModal")
                                    .mask
                                    div
                                        i.fas.fa-fish
                                        span Рыболовство
                                        h3 Котельниковский
                                        span от 
                                            span 5000
                                            |  руб/чел
        .bg-forest
            .bgc
                .container.live
                    .row.justify-content-center
                        .col-12
                            h1 Где жить?
                        .col-12
                            p
                                strong В стоимость туров не входит проживание! 
                                br
                                | Но мы можем помочь с бронированием номеров в предложенных ниже гостиницах
                    .row
                        .col-12.col-lg-6 
                            img(src="img/photo-2-last.png", alt="" width='100%')
                        .col-12.col-lg-6
                            div
                                h2 Байкал-сервис
                                p Гостиница Байкал-сервис расположена в городе Северобайкальск. К услугам гостей номера различной ценовой категории. В гостинице есть уютное кафе, дизайн которого выполнен в стиле русской деревенской избы. И честно Вам признаемся, по количеству старых и добрых вещей в интерьере наше кафе не уступит музею. У нас настоящая домашняя сибирская кухня. Наши повара готовят так, что вы захотите увезти их с собой. На территории гостиницы имеется удофбная парковка, пикниковая зона, со всем необходимым для приготовления шашлыка или барбекю, а также детская площадка с песочницей, горкой, качелями и домиком.
                                p от 
                                    span 4500  
                                    |  руб/сутки 
                                button.btn.btn-primary(type='button' data-toggle="modal" data-target="#myModal-2") Узнать больше

                    .row.justify-content-end
                        .col-12.col-lg-6.order-last 
                            img(src="img/photo-last.png", alt="" width='100%')
                        .col-lg-6.order-first
                            div
                                h2 Байкальский лучик
                                p Гостиница Байкал-сервис расположена в городе Северобайкальск. К услугам гостей номера различной ценовой категории. В гостинице есть уютное кафе, дизайн которого выполнен в стиле русской деревенской избы. И честно Вам признаемся, по количеству старых и добрых вещей в интерьере наше кафе не уступит музею. У нас настоящая домашняя сибирская кухня. Наши повара готовят так, что вы захотите увезти их с собой. На территории гостиницы имеется удофбная парковка, пикниковая зона, со всем необходимым для приготовления шашлыка или барбекю, а также детская площадка с песочницей, горкой, качелями и домиком.
                                p  от  
                                    span  4500  
                                    |   руб/сутки
                                button.btn.btn-primary(type='button' data-toggle="modal" data-target="#myModal-2") Узнать больше
        .bg-footer
            .container
                .row.b-footer
                .row.footer.justify-content-between
                    .col-4
                        a(href="./index.html") Байкал комфорт
                    .col-8
                        a(href="./about.html") Куда поехать?
                        a(href="") Где жить?
                        a(href="./contacts.html") Как с нами связаться?
                        a(href="") +7 (999) 999-99-99
        .modal.fade(id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            .modal-dialog(role='document')
                .modal-content
                    .row
                        .col-12.col-lg-7
                            .modal-img.swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        img(src="img/swp-1.jpg", alt="")
                                    .swiper-slide
                                        img(src="img/swp-1.jpg", alt="")
                                    .swiper-slide
                                        img(src="img/swp-1.jpg", alt="")
                                    .swiper-slide
                                        img(src="img/swp-1.jpg", alt="")
                                    .swiper-slide
                                        img(src="img/swp-1.jpg", alt="")
                                .swiper-pagination
                                .swiper-button-next
                                    i.fas.fa-chevron-circle-right
                                .swiper-button-prev
                                    i.fas.fa-chevron-circle-left
                        .col-12.col-lg-5
                            .modal-header
                                h1 Мыс Котельниковский
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    i.fas.fa-times
                                div
                                    a(href="#")
                                        i.fab.fa-hotjar 
                                        |  Термальные источники
                                    a(href="#")    
                                        i.fas.fa-file-alt
                                        |  Доп. информация
                            .modal-body(data-simplebar)
                                p Посещение базы отдыха «Мыс Котельниковский» никого не оставит равнодушным. Два бассейна с термальной водой разной температуры, бильярдный зал, теннисный корт и другие плюшки.
                                h2 Расписание дня
                                p
                                    strong 06:00
                                    |  - Завтрак
                                p
                                    strong 06:30
                                    |  - Посадка в автобус. Выезд на причал
                                    br
                                    | г. Северобайкальск
                                p
                                    strong 07:00
                                    |  - Посадка в катер. Отправление на базу отдыха «Мыс Котельниковский»
                                p
                                    strong 08:30
                                    |  - Прибытие на базу. Размещение в гостиничном номере. Чай, легкий завтрак
                                p
                                    strong 09:00 - 12:00
                                    |  - Свободное время. Купание, дополнительные услуги, пешие и вело прогулки по мысу Котельниковский.
                                p
                                    strong 12:00
                                    |  - Обед
                                p
                                    strong 12:30 - 16:30
                                    |  - Свободное время. Купание, дополнительные услуги, пешие и вело прогулки по мысу Котельниковский.
                                p
                                    strong 16:30
                                    |  - Чай. Легкий ужин.
                                p
                                    strong 17:00
                                    |  - Посадка в катер. Отправление в г. Северобайкальск
                                p
                                    strong 19:00
                                    |  - Прибытие. Посадка в автобус. Отправление в гостиницу
                                p
                                    strong 19:30
                                    |  - Прибытие в гостиницу. Ужин. 

                            .modal-footer.justify-content-between
                                p от 
                                    strong 4500 
                                    |  руб/чел
                                button.btn.btn-primary(type='button') Добавить к заказу
        .modal.fade(id="myModal-2" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            .modal-dialog(role='document')
                .modal-content
                    .row
                        .col-12.col-lg-7
                            .modal-img.swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        img(src="img/swp-1.jpg", alt="")
                                    .swiper-slide
                                        img(src="img/swp-1.jpg", alt="")
                                    .swiper-slide
                                        img(src="img/swp-1.jpg", alt="")
                                    .swiper-slide
                                        img(src="img/swp-1.jpg", alt="")
                                    .swiper-slide
                                        img(src="img/swp-1.jpg", alt="")
                                .swiper-pagination
                                .swiper-button-next
                                    i.fas.fa-chevron-circle-right
                                .swiper-button-prev
                                    i.fas.fa-chevron-circle-left
                        .col-12.col-lg-5
                            .modal-header
                                h1 Современная гостиница Байкал-Сервис
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                    i.fas.fa-times
                                div
                                    a(href="")
                                        i.fas.fa-map-marker-alt
                                        | г. Северобайкальск, Полиграфистов 2б
                            .modal-body(data-simplebar)
                                div
                                    p Гостиница Байкал-сервис расположена в городе Северобайкальск.
                                    p К услугам гостей номера различной ценовой категории. В гостинице есть уютное кафе, дизайн которого выполнен в стиле русской деревенской избы. И честно Вам признаемся, по количеству старых и добрых вещей
                                    p в интерьере наше кафе не уступит музею. У нас настоящая домашняя сибирская кухня. Наши повара готовят так, что вы захотите увезти их с собой. На территории гостиницы имеется удобная парковка, пикниковая зона, со всем необходимым для приготовления шашлыка или барбекю, а также детская площадка с песочницей, горкой, качелями и домиком.

                            .modal-footer.justify-content-between
                                p от 
                                    strong 4500 
                                    | руб/сутки
                                div.btn-group(role='group' aria-label='group')
                                    button.btn.btn-outline-primary(type="button") Добавлено!
                                    button.btn.btn-outline-primary(type="button") 
                                            i.fas.fa-trash-alt
        .modal.fade(id="myModal-3" tabindex="-3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h1 Ваш заказ
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            i.fas.fa-times
                        
                    .modal-body
                        .container                            
                            .input-group
                                div
                                    span На период
                                    input.form-control(type='text' placeholder='c' value='22.02.18')
                                    i.fas.fa-calendar-alt
                                    i -
                                    input.form-control(type='text' placeholder='до')
                                    i.fas.fa-calendar-alt
                                div
                                    span Взрослые
                                        input.form-control(type='text' placeholder='c' value='13')
                                        i.fas.fa-caret-up
                                        i.fas.fa-caret-down
                                    span Дети
                                        input.form-control(type='text' placeholder='до' value='5')
                                        i.fas.fa-caret-up
                                        i.fas.fa-caret-down
                            .block.mtours 
                                h2 Туры
                                .row.justify-content-between.select
                                    span Мыс Котельниковский
                                    p 2
                                        span 4
                                        | 500 руб
                                        i.fas.fa-trash-alt
                                .row.justify-content-between.select
                                    span Мыс Котельниковский
                                    p 2
                                        span 4
                                        | 500 руб
                                        i.fas.fa-trash-alt
                            .block.hotel
                                h2 Гостиница
                                .row
                                    span Если вам негде жить, то не забудьте добавить гостиницу к заказу
                            .block.order-check
                                h2 Ваши данные
                                .row
                                    span Оставьте ваши контактные данные, чтобы мы могли с вами связаться для более подробного обсуждения вашего путешествия и точной стоимости заказа
                                    .input-group.justify-content-between
                                        input(type="text" placeholder='ФИО')
                                        input(type="phone" placeholder='' value='+7 (')
                                        input(type="email" placeholder='E-mail')
                            .block
                                i.far.fa-square
                                p Я принимаю согласие с 
                                    a(href="#") политикой конфиденциальности

                    .modal-footer.justify-content-end
                        p Итого: 
                            span  4
                                span 9
                                | 000 
                            | руб
                        button.btn.btn-primary(type="button") Оформить заказ
        script.
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 1,
                spaceBetween: 0,
                loop: true,
                pagination: {
                    el: '.swiper-pagination',
                    type: 'bullets',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
