.bg
  &-top
    background-image: url(../img/lake.png)
    background-repeat: no-repeat
    @media (max-width: 767px)
      padding-bottom: 60px
    @media (min-width: 1024px)
      background-position: 37% 0
      background-size: auto 100%
    @media (min-width: 1170px)
      background-position: 50% 0
      background-size: auto

  &-mountain
    background-image: url(../img/2.svg)
    background-repeat: no-repeat
    background-position: 50% 0
    background-size: auto    

    @media (min-width: 320px)
      margin-top: -273px
      padding-top: 5px
      padding-bottom: 295px

    @media (min-width: 768px)
      margin-top: -303px
      padding-top: 5px
      padding-bottom: 330px
    
    @media (min-width: 1024px)
      margin-top: -303px
      padding-top: 5px
      padding-bottom: 330px
    @media (min-width: 1170px)
      margin-top: -314px
      padding-top: 5px
      padding-bottom: 126px

    &-pic
      max-width: 100%
      background-image: url(../img/mountain.png)
      background-repeat: no-repeat
      background-position: 50% 0
      background-size: auto
    &-shadow
      background-image: url(../img/1.svg)
      background-repeat: no-repeat
      background-position: 50% 0
      background-size: auto
      margin-top: 55px

  &-forest
    background-image: url(../img/3.svg)
    background-repeat: no-repeat
    background-position: 50% 0
    background-size: auto
    @media (min-width: 320px)
      margin-top: -1271px
      padding-top: 1270px
    @media (min-width: 768px)
      margin-top: -1276px
      padding-top: 1275px
    @media (min-width: 1024px)
      margin-top: -996px
      padding-top: 999px
    @media (min-width: 1170px)
      margin-top: -996px
      padding-top: 995px
    .bgc
      padding-bottom: 200px
      @media (min-width: 1024px)
        margin-top: 265px
      @media (min-width: 1170px)
        margin-top: 288px
        padding-top: 110px
      background-color: #f0f3f3

  &-footer 
    background: url(../img/bg-footer.png) no-repeat 50% 0 
    padding-bottom: 50px
    @media (min-width: 320px)
      margin-top: -280px
      padding-bottom: 125px
      background-size: cover
    @media (min-width: 768px)
      margin-top: -270px
      padding-bottom: 10px
    @media (min-width: 1024px)
      margin-top: -150px
      padding-bottom: 50px
    @media (min-width: 1170px)
      margin-top: -246px
      padding-bottom: 40px
  &-contacts
    margin-top: -230px
    padding-top: 230px
    background-image: url(../img/contacts.svg)
    background-repeat: no-repeat
    background-size: cover
    background-position: 50% 
  &-about
    margin-top: -230px
    padding-top: 230px
    background-image: url(../img/about.svg)
    background-repeat: no-repeat
    background-size: cover
    background-position: 50%