@import "variables"


.block-top
  .col-lg-12
    webkit-text-shadow: 0px 10px 49px rgba(0,31,46,0.5);
    -moz-text-shadow: 0px 10px 49px rgba(0,31,46,0.5);
    text-shadow: 0px 10px 49px rgba(0,31,46,0.5);
    @media (min-width: 320px)
      padding: 0 0 210px 0  
    @media (min-width: 768px)
      padding: 0 0 400px 0    
    span
      display: block
      text-align: center
      text-transform: uppercase
      font-family: AristaProFat  
      color: $white
      letter-spacing: 0.074rem

      @media (max-width: 1023px)
        font-size: 5.4rem
        line-height: 30pt
        padding-top: 63px

      @media (max-width: 767px)
        font-size: 2.45rem
        padding-top: 0
        line-height: 48px
        &:first-child
          margin-left: 0

      @media (min-width: 1024px)
        font-size: 6.1rem
        line-height: 91pt

      @media (min-width: 1170px)
        font-size: 9.4rem
        line-height: 133pt

.tours
  @media (min-width: 320px)
    padding-top: 293px
  @media (min-width: 768px)
    padding-top: 292px
  @media (min-width: 1024px)
    padding-top: 314px
  @media (min-width: 1170px)
    padding-top: 369px
  font-family: 'OpenSans-Semibold' 
  .row:first-child
    .col-12:last-child
      @media (max-width: 767px)
        br
          display: none
      @media (min-width: 768px)
        padding: 0 75px
        font-size: 1rem
      @media (min-width: 1024px)
        padding: 0 15px 0
  .row:nth-child(2)
    @media (min-width: 320px)
      padding: 0 0
    @media (min-width: 768px)
      padding: 0 0
    @media (min-width: 1024px)
      padding: 0 15px
    .col-12
      text-align: center
      @media (min-width: 320px)
        padding-bottom: 24px
        padding-left: 0
        padding-right: 0
      @media (min-width: 768px)
        padding-bottom: 28px
        padding-left: 0
        padding-right: 0
      @media (min-width: 1024px)
        padding-bottom: 27px
        padding-left: 15px
        padding-right: 15px
      @media (min-width: 1170px)
        padding-bottom: 40px
      nav
        .nav
          position: relative
          @media (min-width: 768px)
            > i 
              display: none
            margin-top: 55px
          @media (max-width: 767px)
            > i 
              position: absolute
              right: 0
              top: 9px
              font-size: 14px
            margin-top: 35px !important
          display: block 
          text-align: center
          border-bottom: none
          @media (max-width: 767px)
            border-bottom: 1px solid black !important
            text-align: left
            padding: 0 0 5px 0
            margin: 0 15px
            &:hover
              color: $black !important
              border-bottom: 1px solid $black !important
              cursor: pointer
              a 
                color: $black !important 
            .active
              color: $black !important
          > a
            color: $blue-hov
            transition: color 0.3s ease
            &:hover
              border-color: transparent
              color: $black
            &.nav-link.active
              background-color: transparent 
              border: none
              color: $black
            display: inline-block
            @media (max-width: 767px)
              font-size: 0.95rem
              span
                margin-left: 10px
                letter-spacing: -1px
              &:not(:first-child)
                display: none            
            @media (min-width: 768px)
              margin: 17px 8px
              font-size: 0.9rem !important
              letter-spacing: -0.4px
            @media (min-width: 1024px)
              margin: 14px 11px 16px
              font-size: 0.8rem !important
              letter-spacing: -0.4px
            @media (min-width: 1170px)
              margin: 14px 15px 16px
              font-size: 0.9rem !important
              i 
                font-size: 0.9rem   
            text-transform: uppercase
            span
              @media (min-width: 768px)
                margin-left: 8px
              @media (min-width: 1024px)
                margin-left: 8px
              @media (min-width: 1170px)
                margin-left: 10px
            &:nth-child(4), &:nth-child(5)
              i
                @media (min-width: 1024px)
                  font-size: 0.9rem
                @media (min-width: 1170px)
                  font-size: 1.24rem
    .col-md-6
      @media (max-width: 767px)
        max-width: 410px
        margin: 0 auto
      @media (min-width: 320px)
        padding: 10px 13px
      @media (min-width: 768px)
        padding: 13px 13px
      @media (min-width: 1024px)
        padding: 13px 14px
      @media (min-width: 1170px)
        padding: 14px 15px 

      .btn 
        position: absolute
        display: none
        top: 45%
        left: 0
        bottom: 40%
        right: 0
        max-height: 40px
        margin: auto auto  
        background-color: #fff !important
        color: $black
      &
        .img:hover
          cursor: pointer
          background-size: 490px auto
          background-position: -55px -40px

          .btn
            display: block
          .mask
              background-color: rgba(0, 31, 46, 0.5)
      
      .img
        -webkit-box-shadow: 0px 7px 27px 2px rgba(0,31,46,0.15);
        -moz-box-shadow: 0px 7px 27px 2px rgba(0,31,46,0.15);
        box-shadow: 0px 7px 27px 2px rgba(0,31,46,0.15);
        position: relative
        @media (min-width: 320px)
          height: 290px
        @media (min-width: 768px)
          height: 335px
        @media (min-width: 1024px)
          height: 263px
        @media (min-width: 1170px)
          height: 370px
        background-size: 450px auto
        background-position: -35px -22px
        border-radius: 15px
        -webkit-transition: all ease-out 0.5s
        -moz-transition: all ease-out 0.5s
        -o-transition: all ease-out 0.5s
        transition: all ease-out 0.5s
        .mask
          position: absolute
          top: 0
          left: 0
          background-color: rgba(0, 31, 46, 0.2)
          width: 100%
          height: 100%
          border-radius: 15px
        > div
          display: block
          position: absolute
          @media (min-width: 320px)          
            width: 300px
            bottom: 19px
            left: 27px
          @media (min-width: 768px)          
            width: 300px
            bottom: 26px
            left: 27px
          @media (min-width: 1024px)          
            width: 200px
            bottom: 17px
            left: 22px
          @media (min-width: 1170px)          
            width: 300px
            bottom: 35px
            left: 42px
          color: $white
          i
            @media (min-width: 320px)
              font-size: 12px
              margin-right: 12px
            @media (min-width: 768px)
              font-size: 12px
              margin-right: 12px
            @media (min-width: 1024px)
              font-size: 12px
              margin-right: 9px
            @media (min-width: 1170px) 
              font-size: 13px
              margin-right: 6px
          h3
            font-family: AristaProFat
            text-transform: uppercase
            letter-spacing: 0.074rem
            text-align: left
            @media (min-width: 320px)
              line-height: 25px
              font-size: 1.17rem
              padding-top: 10px
            @media (min-width: 768px)
              line-height: 33px
              font-size: 1.45rem
              padding-top: 10px
            @media (min-width: 1024px)
              line-height: 15px
              font-size: 0.99rem
              padding-top: 13px
            @media (min-width: 1170px)
              line-height: 30px
              font-size: 1.5rem
              padding-top: 17px
          span:nth-child(2)
            font-family: 'OpenSans-Semibold' 
            @media (min-width: 320px)
              font-size: 0.81rem
            @media (min-width: 768px)
              font-size: 0.77rem
            @media (min-width: 1024px)
              font-size: 0.71rem
            @media (min-width: 1170px)
              padding-top: 2px
              font-size: 0.815rem
          span:nth-child(4)
            font-family: OpenSans
            @media (min-width: 320px)
              font-size: 0.85rem
              padding-left: 2px
            @media (min-width: 768px)
              font-size: 0.85rem
              padding-left: 2px
            @media (min-width: 1024px)
              font-size: 0.85rem
              padding-left: 2px
            @media (min-width: 1170px)
              font-size: 0.9rem
              padding-left: 2px
            font-family: Helvetica, arial     
            span
              font-family: OpenSans-Bold   
              display: inline-block
              &:first-letter
                margin-right: 0.15rem     
              @media (min-width: 320px)
                font-size: 1.14rem
                margin-right: 2
                margin-left: 2px
              @media (min-width: 768px)
                font-size: 1.14rem
                margin-right: 2
                margin-left: 2px
              @media (min-width: 1024px)
                font-size: 1.03rem
                margin-right: 2px
                margin-left: 0
              @media (min-width: 1170px)
                font-size: 20px
                margin-right: 2px
                margin-left: 3px
  
  h1
    display: block 
    text-align: center
    @media (min-width: 768px)
      font-size: 49px
    @media (min-width: 1024px)
      font-size: 43px
    @media (min-width: 1170px)
      font-size: 51px

.live
  @media (min-width: 320px)
    padding-top: 0
  @media (min-width: 768px)
    padding-top: 0
  @media (min-width: 1024px)
    padding-top: 0
  @media (min-width: 1170px)
    padding-top: 0
  .justify-content-center
    .col-12:nth-child(2)
        @media (max-width: 767px)
          margin: -1px 0 0 5px
          font-size: 0.83rem    
          line-height: 1.27rem 
          br
            display: none
        @media (min-width: 768px)
          margin: 2px 0 0 5px
          font-size: 0.91rem    
          line-height: 1.4rem 
        @media (min-width: 1024px)
          margin: 2px 0 14px 5px
          font-size: 0.833rem    
          line-height: 1.3rem  
        @media (min-width: 1170px)
          margin: 1px 0 14px 5px
          font-size: 0.95rem
          line-height: 1.5rem
  h1
    display: block 
    text-align: center
    @media (min-width: 320px)
      padding-left: 15px
    @media (min-width: 768px)
      padding-left: 0
      font-size: 3.1rem
    @media (min-width: 1024px)
      font-size: 43px
    @media (min-width: 1170px)
      font-size: 51px

  .row:not(:first-child)
    @media (min-width: 320px)
      margin: 53px 0 105px 0
    @media (min-width: 768px)
      margin: 53px 0 105px 0
    @media (min-width: 1024px)
      margin: 50px 0 40px 0
    @media (min-width: 1170px)
      margin: 113px 0 213px 0
    .col-12:first-child
      position: relative
      img
        top: 0
        left: 0
        bottom: 0
        right: 0
        margin: auto
        @media (min-width: 768px)
          min-width: 100%
        @media (min-width: 1024px)
          position: absolute
          min-width: 120%
        @media (min-width: 1170px)
          min-width: 130%
    @media (min-width: 1024px)
      padding-bottom: 109px
    @media (min-width: 1170px)
      padding-bottom: 9px
    .order-last
      text-align: right
    .col-lg-6:last-child, .order-first
      padding-right: 0
      @media (max-width: 767px)
        padding-left: 0
      div
        font-family: OpenSans
        @media (min-width: 320px)
          text-align: center
          padding-top: 32px
        @media (min-width: 768px)
          text-align: center
          padding-top: 27px
          margin-right: 17px
        @media (min-width: 1024px)
          text-align: left
          padding-top: 0
          max-width: 405px
          padding-left: 10px
          margin-right: 15px
        @media (min-width: 1170px)
          text-align: left
          padding-top: 0
          max-width: 570px
          padding-left: 0
          margin-right: 0

        h2
          font-family: AristaProFat
          text-transform: uppercase
          letter-spacing: 0.074rem
          @media (min-width: 320px)
            font-size: 1.05rem
            padding-bottom: 7px
          @media (min-width: 768px)
            font-size: 1.7rem
            padding-bottom: 12px
          @media (min-width: 1024px)
            font-size: 1.5rem
            padding-bottom: 11px
          @media (min-width: 1170px)
            font-size: 1.8rem
            padding-top: 40px
            padding-bottom: 14px

        p
          &:first-of-type  
            @media (min-width: 320px)
              display: block 
              font-size: 0.83rem
              line-height: 1.55rem
              padding: 1px 0 20px 
            @media (min-width: 768px)
              display: block 
              font-size: 0.9rem
              line-height: 1.5rem
              padding: 1px 60px 19px !important        
            @media (min-width: 1024px)
              display: inline-block
              font-size: 0.83rem
              line-height: 16pt
              padding: 0 !important
            @media (min-width: 1170px)
              font-size: 0.94rem
              line-height: 1.56rem

          &:nth-child(3)
            font-family: OpenSans-Bold
            @media (max-width: 767px)
              display: block
              margin: 20px auto 15px
              font-size: 0.95rem
              vertical-align: middle
              letter-spacing: 0.5px
              margin-bottom: 0
              span
                display: inline-block
                margin: 0 0
                padding: 0 0 20px 0
                letter-spacing: 1.5px
            @media (min-width: 768px)
              display: inline-block
              margin-right: 33px
              font-size: 0.95rem
              vertical-align: middle
              span
                display: inline-block
                margin: 0
                padding: 0
            @media (min-width: 1024px) 
              display: block              
              font-size: 0.85rem
              line-height: 71px
              margin-right: 0
            @media (min-width: 1170px)
              font-size: 0.96rem
              line-height: 83px
              letter-spacing: 0.05rem              

            span
              font-family: OpenSans-Bold
              letter-spacing: 0
              &:first-letter
                margin-right: 0.15rem
              @media (min-width: 320px)
                font-size: 1.25rem
                margin-right: 2px
              @media (min-width: 768px)
                font-size: 1.25rem
                margin-right: 2px
              @media (min-width: 1024px)
                font-size: 1.15rem
                margin-right: 0
              @media (min-width: 1170px)
                font-size: 1.25rem
                margin-right: 3px

    .justify-content-end
    .order-first
      @media (min-width: 1024px)
        text-align: -webkit-right
        text-align: -moz-right
        > div
          padding-left: 0px !important
          padding-right: 10px
          text-align: left
      @media (min-width: 1170px)
        padding-left: 0
        text-align: left
        > div
          padding-left: 0 !important
          padding-right: 0
          text-align: left

  .row:nth-child(2)
    .col-12:first-child
      img
        @media (min-width: 1024px)
          margin-left: -100px !important
        @media (min-width: 1170px)
          margin-left: -250px !important

  .btn    
    border-radius: 20px
    margin-top: 3px
    text-transform: uppercase


.container.about,
.container.contacts
  margin-bottom: 135px
  @media (min-width: 992px) and (max-width: 1023px)
    max-width: 720px
  @media (max-width: 1023px)
    padding: 0 30px 250px
  @media (min-width: 1024px)
    padding: 0 103px 300px
  @media (min-width: 1430px)
    padding: 0 140px 300px

  .row
    h2,
    h3
      font-family: AristaProFat
      font-weight: lighter
      text-transform: uppercase
      font-size: 1.78rem
      letter-spacing: 0.074rem
      padding-bottom: 25px
    h3
      margin-top: 42px
      font-size: 1.26rem
      letter-spacing: 0
      padding-bottom: 6px
    p
      font-family: OpenSans
      font-size: 0.94rem
      line-height: 1.55rem
      margin-bottom: 0.6rem
  
.container.contacts
  p, h2
    text-align: left !important
  margin-bottom: 135px
  @media (min-width: 992px) and (max-width: 1023px)
    max-width: 720px
    .col-lg-4
      flex: 0 0 41.66666% !important
      max-width: 41.66666% !important
  @media (max-width: 1023px)
    padding: 0 14px 150px
  @media (max-width: 767px)
    max-width: 766px
  @media (min-width: 1024px)
    padding: 0 62px 150px
  @media (min-width: 1170px)
    padding: 0 93px 300px
  @media (min-width: 1430px)
    padding: 0 0 300px

  .justify-content-between
    margin-left: 0

    > .col-12
      padding: 0
      margin-bottom: 70px
      i
        vertical-align: top
        margin-right: 8px
        margin-top: 6px
        font-size: 16px
      span
        display: inline-block
        max-width: 250px
    .col-lg-8
      @media (min-width: 992px) and (max-width: 1023px)
        flex: 0 0 58.33333% !important
        max-width: 58.33333% !important
    >.col-12:last-child
      @media (min-width: 1024px) and (max-width: 1169px)
        padding-left: 80px
      .row
        margin-bottom: 0.6rem
        p
          margin-bottom: 0
        .col-xl-6
          @media (min-width: 1170px) and (max-width: 1199px)
            flex:  0 0 50% !important
            max-width: 50% !important
        .col-12
          p
            text-align: left !important
