.btn-primary    
    border-radius: 20px !important
    margin-top: 3px !important
    text-transform: uppercase
    font-weight: bold !important
    font-family: OpenSans-Semibold
    border-color: transparent !important
    background-color: $blue-hov !important
    &:hover
      background-color: $blue !important
    &:focus
      box-shadow: none !important
    @media (max-width: 767px)
      width: 176px
      font-size: 0.8rem !important
      padding: 9px 10px !important
    @media (min-width: 768px)
      width: 170px
      font-size: 0.8rem !important
      padding: 8px 2px !important
    @media (min-width: 1024px)
      width: 150px
      font-size: 0.63rem !important
      padding: 10px 4px !important
      letter-spacing: 1px
    @media (min-width: 1170px)
      width: 180px !important
      font-size: 0.8rem !important
      padding: 10px 2px !important
      letter-spacing: 0