@font-face
  font-family: "AristaProFat"
  src: url("../fonts/AristaProFat.ttf") format("truetype")

@font-face
  font-family: "OpenSans"
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype")

@font-face
  font-family: "OpenSans-Semibold"
  src: url("../fonts/OpenSans-Semibold.ttf") format("truetype")

@font-face
  font-family: "OpenSans-Bold"
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype")