.b-footer
  @media (min-width: 320px)
    height: 312px
  @media (min-width: 768px)
    height: 362px
  @media (min-width: 1024px)
    height: 180px
  @media (min-width: 1170px)
    height: 260px

.bg-footer
  .container
    .footer
      @media (min-width: 320px)
        padding-top: 40px 
      @media (min-width: 768px)
        padding-top: 40px
      @media (min-width: 1024px)
        padding-top: 19px
      @media (min-width: 1170px)
        padding-top: 0

.bg-footer
  .container
    @media (min-width: 320px)
      padding-top: 0
    @media (min-width: 768px)
      padding-top: 0
    @media (min-width: 1024px)
      padding-top: 0
.footer 
  .col-4
    @media (max-width: 767px)
      flex: 0 0 100%
      max-width: 100% !important
      justify-content: flex-start !important
    @media (min-width: 768px)
      flex: 0 0 40%
      max-width: 500px !important
      padding-top: 0 !important
    @media (min-width: 1024px)
      padding-top: 0 !important
      flex: 0 0 33.33333%
      max-width: 33.33333%
    a 
      display: block
      text-decoration: none
      color: $white
      font-family: AristaProFat
      text-transform: uppercase
      letter-spacing: 0.074rem
      @media (max-width: 767px)
        text-align: center
        font-size: 1.4rem
        padding: 9px 0 0 0
        font-weight: 100
        position: relative
        top: 136px
        margin: 0 auto
      @media (min-width: 768px)
        text-align: left
        font-size: 1.75rem
        padding: 9px 0 0 0
        font-weight: 100
      @media (min-width: 1024px)
        font-size: 1.5rem
        padding: 7px 0 0 43px
      @media (min-width: 1170px)
        font-size: 1.77rem
        padding: 7px 0 0 29px

  .col-8
    padding: 0 15px 0 0
    text-align: right
    @media (max-width: 767px)
      position: relative
      top: -110px
      left: -125px
      height: 50px
      max-width: 214px
      margin: 0 auto
      a:nth-child(1)
        position: relative
        top: 111px
        left: 43px
      a:nth-child(2)
        position: relative
        top: 45px
        left: 141px
      a:nth-child(3)
        position: relative
        top: 22px
        left: 122px
    @media (min-width: 768px)
      position: relative
      top: -110px
      left: -70px
      height: 50px
    @media (min-width: 1024px)
      position: static
      margin-left: 0
    a 
      overflow: hidden
      padding-bottom: 4px
      opacity: 1
      transition: opacity 0.4s ease
      &:hover
        opacity: 0.6
      font-family: OpenSans
      @media (min-width: 320px)
        font-size: 0.96rem
        margin: 13px 8px 18px 19px
      @media (min-width: 768px)
        font-size: 0.9rem
        margin: 13px 8px 18px 19px
      @media (min-width: 1024px)
        font-size: 0.842rem
        margin: 16px 20px 18px 0
      @media (min-width: 1170px)
        font-size: 0.95rem
        margin: 18px 25px 18px 0
      display: inline-block 
      text-decoration: none
      color: $white      
      &:first-child
        @media (min-width: 768px)
          margin-left: 20px
        @media (min-width: 1024px)
          margin-left: 80px
        @media (min-width: 1170px)
          margin-left: 80px
      &:last-child
        font-family: OpenSans-Semibold
        font-weight: 500
        @media (min-width: 320px)
          position: relative
          left: 138px
          top: -125px
          font-size: 0.92rem
          margin-left: 25px
          margin-right: 44px
        @media (min-width: 768px)
          position: relative
          left: 355px
          top: 13px
          font-size: 0.9rem
          margin-left: 25px
          margin-right: 44px
        @media (min-width: 1024px)
          position: static
          left: 0
          top: 0
          font-size: 0.82rem
          margin-left: 5px
          margin-right: 30px
        @media (min-width: 1170px)
          margin-left: 10px
          padding-right: 0
          margin-right: 0
          font-size: 0.93rem