@import "variables"

body
  .header       
    margin-bottom: 192px
    padding-top: 25px
    @media (max-width: 1023px)
      padding-right: 34px
      padding-left: 34px

    @media (max-width: 767px)
      padding-right: 14px
      padding-left: 14px
      padding-top: 29px
      margin-bottom: 132px

    @media (min-width: 1024px)
      padding-left: 89px
      padding-right: 93px

    @media (min-width: 1170px)
      nav
        > .nav-item:nth-child(4)
          cursor: default
          pointer-events: none

    @media (min-width: 1430px)
      padding-left: 125px
  nav
    padding: 0 !important
    position: relativ

    button 
      border-color: transparent !important
      outline: none !important
      i 
        color: #001526

    a:nth-child(4)      
      font-family: OpenSans-Semibold
      @media (max-width: 767px)
        display: none
      @media (min-width: 768px)
        margin-left: -230px
        font-size: 0.8rem
      @media (min-width: 1024px)
        margin-left: 40px
        margin-top: 3px
        font-size: 0.75rem
        letter-spacing: -0.7px
      @media (min-width: 1170px)
        margin-left: 40px
        font-size: 0.89rem
        letter-spacing: -0.6px

    a 
      color: $black
      font-weight: bold
      padding: 5px 0 !important

    .collapse
      justify-content: flex-end
      @media (min-width: 768px) and (max-width: 1023px)
        justify-content: flex-start
        min-width: 395px
        position: relative
        left: -270px
        top: 50px
    .collapsing
      position: absolute !important

    .navbar-brand
      font-family: AristaProFat
      font-weight: lighter
      text-transform: uppercase
      @media (min-width: 320px)
        font-size: 1.4rem
        letter-spacing: 0.074rem

      @media (min-width: 768px)
        font-size: 1.7rem
        letter-spacing: 0.074rem

      @media (min-width: 1024px)
        font-size: 1.5rem
        padding: 1px !important
        letter-spacing: 0.074rem

      @media (min-width: 1170px)
        font-size: 1.8rem
        letter-spacing: 0.074rem   
        padding: 2px 0 0 2px !important

    .navbar-nav
      @media (max-width: 767px)
        position: absolute
        width: 100%
      @media (min-width: 1170px)
        padding-top: 4px
      margin-right: -35px
      a
        padding: 0 !important
        display: inline-block
        font-family: 'OpenSans' !important
        font-weight: 600 !important
        font-size: 0.85rem
        color: $black !important
        transition: color 0.3s ease
        &:hover
          color: $blue-hov !important
        @media (max-width: 767px)
          padding: 10px 0 10px 20px !important
          background-color: rgba(0, 21, 38, 0.6) !important
          border-bottom: 1px solid rgba(255, 255, 255, 0.1)
          color: #fff !important
          margin-left: 0
          font-size: 0.9rem
          margin-right: 35px
          letter-spacing: 0
          width: 100%
          &:hover
            color: #fff !important
            background-color: rgba(0, 21, 38, 0.5) !important
        @media (min-width: 768px)
          margin-left: 5px
          font-size: 0.82rem
          margin-right: 20px
          letter-spacing: 0
        @media (min-width: 1024px)
          margin-left: 0
          font-size: 0.83rem
          margin-right: 20px
          letter-spacing: -0.7px
        @media (min-width: 1170px)
          margin-right: 25px !important
          font-size: 0.85rem
          letter-spacing: 0

    > div:last-child
      display: block 
      i.fa-circle 
        color: $black
        transition: color 0.3s ease
      @media (max-width: 767px)
        display: none 

      > div
        position: fixed  
        z-index: 1
        &:hover
          i
            color: $blue-hov
            cursor: pointer

        @media (min-width: 768px)
          top: 80px
          margin-left: -44px
        @media (min-width: 1024px)
          top: 23px
          margin-left: 17px
        @media (min-width: 1170px)
          margin-left: 52px
          top: 28px

        i:first-child
          border-radius: 50%
          -webkit-box-shadow: 0px 7px 35px 7px rgba(0,31,46,0.17)
          -moz-box-shadow: 0px 7px 35px 7px rgba(0,31,46,0.17)
          box-shadow: 0px 7px 35px 7px rgba(0,31,46,0.17)
          @media (min-width: 768px)  
            font-size: 41px 
          @media (min-width: 1024px)
            font-size: 35px
          @media (min-width: 1170px)  
            font-size: 41px      

          div
            position: absolute
            background: url('../img/bag.svg') no-repeat
            @media (min-width: 768px)
              height: 17px
              width: 17px
              left: 12px
              top: 12px
            @media (min-width: 1024px)
              height: 15px
              width: 15px
              left: 10px
              top: 10px
            @media (min-width: 1170px)
              height: 17px
              width: 17px
              left: 12px
              top: 12px

        i:last-child
          position: absolute
          border-radius: 50%
          -webkit-box-shadow: 0px 7px 35px 7px rgba(0,31,46,0.17)
          -moz-box-shadow: 0px 7px 35px 7px rgba(0,31,46,0.17)
          box-shadow: 0px 7px 35px 7px rgba(0,31,46,0.17)
          @media (min-width: 768px)
            font-size: 19px
            left: 26px
            top: -2px
          @media (min-width: 1024px)
            font-size: 17px
            left: 23px
            top: -2px
          @media (min-width: 1170px)
            font-size: 19px
            left: 26px
            top: -2px

          span
            font-family: OpenSans
            font-weight: bolder
            position: absolute
            color: $white
            @media (min-width: 768px)
              left: 7px
              top: 4px
              font-size: 12px
            @media (min-width: 1024px)
              left: 5px
              top: 3px
              font-size: 11px
            @media (min-width: 1170px)
              left: 6px
              top: 3px
              font-size: 12px

header.about,
header.contacts
  padding: 0 0 26px
  &:after
    content: ' '
    margin-top: 26px
    @media (min-width: 768px) and (max-width: 1023px)
      margin-top: 65px
    display: block
    box-sizing: border-box
    outline: 0.001rem solid #e3e3e3
    .cont
      margin-top: 26px
  .collapsing
    position: static !important
  .navbar-nav
    @media (max-width: 767px)
      position: static