#myModal,
#myModal-2
  .row
    .col-lg-7
      @media(min-width: 1024px)
        padding-right: 50px
  .modal-img
    .swiper-slide
      overflow: hidden
    .swiper-button-next
      right: 30px
    .swiper-button-prev
      left: 30px
    .swiper-button-next, .swiper-button-prev
      background-image: none
      &:hover
        cursor: default !important
      &:focus
        outline: none
      i 
        font-size: 24px
        color: rgba(255, 255, 255, 0.5) !important
        &:hover
          color: #fff !important
    .swiper-pagination
      bottom: 30px
      @media (max-width: 767px)
        bottom: 15px
      .swiper-pagination-bullet
        background-color: rgba(255, 255, 255, 0.5) !important
        opacity: 1
        height: 12px
        width: 12px
        transition: background-color 0.3s ease
        &:hover
          background-color: rgba(255, 255, 255, 1) !important
        &:active
          outline: none
      .swiper-pagination-bullet-active
        background-color: rgba(255, 255, 255, 1) !important
        opacity: 1
        &:focus
          outline: none
    @media (min-width: 320px)
      border-top-left-radius: 1.3rem
      border-top-right-radius: 1.3rem
      max-height: 478px
      img
        width: 350px
        margin-left: -20px 
    @media (min-width: 768px)
      border-top-left-radius: 1.3rem
      border-top-right-radius: 1.3rem
      max-height: 478px
      img
        width: 724px
        margin-left: 0
    @media (min-width: 1024px)
      border-top-left-radius: 1.3rem
      border-bottom-left-radius: 1.3rem
      border-top-right-radius: 0
      max-height: 490px
      img
        width: 750px
        margin-left: -130px
    @media (min-width: 1170px)
      border-top-left-radius: 1.3rem
      border-bottom-left-radius: 1.3rem
      border-top-right-radius: 0
      max-height: 663px
      img
        width: 1000px
        margin-left: -150px
    
  .modal-header
    @media (min-width: 1170px)
      button 
        right: 37px
    @media (max-width: 1169px)
      button 
        top: 18px
        right: 33px
    @media (max-width: 1023px)
      button 
        top: -460px
        right: 33px
        z-index: 10
    @media (max-width: 767px)
      button 
        top: -220px
        right: 30px
  .modal-body
    @media (min-width: 1024px) and (max-width: 1169px)
      padding-right: 2.7rem
    max-height: 440px
    @media (max-width: 1169px)
      max-height: 260px
    @media (max-width: 1023px)
      max-height: 100%
      padding: 15px 40px
    @media (max-width: 767px)
      padding: 20px 15px 0
  .modal-footer
    @media (max-width: 1169px)
      margin: 10px 0 20px
    @media (max-width: 1023px)
      p 
        margin-right: 20px
      margin: 10px 0 25px
    @media (max-width: 767px)
      p 
        margin-right: 20px
      margin: 10px 0 40px
  .justify-content-between
    @media (max-width: 1023px)
      justify-content: flex-start !important
.modal
  .close
    font-size: 18px 
  .fas 
    color: $blue-hov !important
    text-shadow: none !important
    transition: color 0.3s ease
  .far:hover, .fas:hover
    cursor: pointer !important
    color: $blue !important
  input
    border: 1px solid #ced4da !important
    outline: none
    padding: 8px 0 7px 15px
  input:focus
    border: 1px solid #ced4da !important
    box-shadow: none 
  button:focus
    box-shadow: none !important 
  font-family: OpenSans
  margin: auto auto
  strong
    font-weight: 900
  .modal-dialog
    width: 1170px
    max-width: 1170px
    @media (min-width: 1170px)
      width: 1170px
    @media (max-width: 1169px)
      width: 845px
    @media (max-width: 1023px)
      width: 696px
    @media (max-width: 767px)
      width: 305px
      margin: 0 auto

    .modal-content
      border-radius: 1.5rem
      border: none
      @media (min-width: 992px) and (max-width: 1023px)
        .row
          .col-12
            flex: 0 0 100% !important
            max-width: 100% !important
      @media (min-width: 1024px)
        .col-lg-5
          padding-left: 0 !important
      .col-5
        padding-left: 0

  .modal-header
    padding-left: 0
    display: block
    border-bottom: none
    padding-bottom: 0 !important
    @media (max-width: 1023px)
      padding: 0 40px
    @media (max-width: 767px)
      padding: 0 15px      

    button 
      position: absolute
      top: 21px
      right: 42px
      opacity: 1 !important
      &:focus
        outline: none !important

    h1
      font-size: 30px
      padding-top: 30px
      padding-bottom: 3px
      color: $black !important
      @media (max-width: 1169px)
        font-size: 1.2rem
        letter-spacing: 0
      @media (max-width: 1023px)
        font-size: 1.5rem
        letter-spacing: 0.074rem
      @media (max-width: 767px)
        font-size: 1.15rem
    div
      a 
        @media (min-width: 768px) and (max-width: 1023px)
          font-size: 0.8rem
        color: $blue-hov
        transition: color 0.3s ease
        &:hover
          color: $blue
          text-decoration: none
          i 
            color: $blue !important
        i 
          margin-right: 5px
          font-size: 13px
          color: $blue-hov
          transition: color 0.3s ease
          @media (max-width: 1169px)
            font-size: 13px
            margin-right: 0.3rem
        font-family: 'OpenSans-Semibold'
        font-size: 13px
        @media (max-width: 1169px)
          font-size: 11px
        letter-spacing: 0
        &:nth-child(2)
          margin-left: 20px
          margin-top: 5px
          width: 100%
          @media (max-width: 767px)
            display: block
            margin-left: 0


  
  .modal-body
    padding-left: 0
    overflow: hidden !important
    .simplebar-track.horizontal
      height: 0
    .simplebar-track.vertical
      background-color: #edeff0
      width: 4px
      right: 15px
      height: 95% !important
      @media (max-width: 1023px)
        display: none
      .simplebar-scrollbar
        visibility: visible
        opacity: 1
        width: 4px
        right: 0
        background-color: #137fb2
        transition: all 0.3s ease
        &:hover
          cursor: pointer
          background-color: $blue
    .simplebar-scroll-content
      padding-right: 150px !important
      .simplebar-content
        overflow-x: hidden
    p
      strong
        font-family: OpenSans-Bold
      font-size: 1rem
      max-width: 405px
      color: $black
      padding-bottom: 15px
      margin: 0
      &:first-child
        padding-bottom: 2rem
      @media (max-width: 1169px)
        font-size: 0.84rem
      @media (max-width: 1023px)
        max-width: 100%
        font-size: 0.9rem
    h2
      text-transform: uppercase
      font-family: AristaProFat
      font-size: 24px
      padding-bottom: 9px
      color: $black !important
      @media (max-width: 1169px)
        font-size: 15px
      @media (max-width: 1023px)
        font-size: 1.1rem

  .modal-footer
    padding-left: 0 !important
    border-top: none
    @media (min-width: 1024px)
      padding: 30px 22px 20px 12px
    @media (min-width: 1170px)
      padding: 20px 12px 40px 12px
    @media (max-width: 1023px)
      padding: 0 40px 20px 40px !important
    @media (max-width: 767px)
      padding: 0 15px !important
      display: block
    p
      font-family: OpenSans-Bold
      font-size: 15px
      color: $black !important
      padding: 2px 0 0 0
      font-weight: 900
      margin: 0
      @media (max-width: 1169px)
        font-size: 0.7rem
      @media (max-width: 767px)
        font-size: 1rem
        display: block
        width: 200px !important
        margin: 25px 0 35px
      strong
        font-size: 20px
        display: inline-block
        margin-right: 2px
        @media (max-width: 767px)
          font-size: 1.2rem
        &:first-letter
          margin-right: 2px
          margin-left: 2px
    > p
      font-family: OpenSans-Bold
      font-size: 15px !important
      @media (min-width: 1024px) and (max-width: 1169px)
        font-size: 13px !important
        strong
          font-size: 18px !important

      span
        font-size: 20px !important

    .btn-primary 
      font-size: 13px !important
      margin-right: 39px
      width: 205px !important
      border-radius: 15px
      padding: 10px !important
      @media (min-width: 1024px) and (max-width: 1169px)
        margin-left: 0 !important
        font-size: 13px !important
      @media (max-width: 1169px)
        width: 190px !important
        margin-right: 10px !important
      @media (max-width: 767px)
        display: block !important
        width: 100% !important
        padding: 10px !important
        font-size: 0.9rem !important
        margin-left: 0 !important


#myModal
  .btn 
    @media (min-width: 1024px) and (max-width: 1169px)
      width: 175px !important
      font-size: 11px !important



#myModal-2
  .modal-header
    h1
      padding-bottom: 10px
    div
      i  
        font-size: 14px
        span
          letter-spacing: 0.3px
  .modal-body
    max-height: 370px
    @media (max-width: 1169px)
      max-height: 240px
    @media (max-width: 1023px)
      max-height: 100%
    p
      padding-bottom: 0.9rem
      line-height: 25px

  .modal-footer
    padding: left 12px
    @media (min-width: 1170px)
      margin: 20px 0 0
    .btn-group
      margin-right: 38px
      @media (max-width: 1169px)
        margin-right: 4px
      @media (max-width: 767px)
        width: 100%
        margin-left: 0 !important
      .btn
        font-size: 0.9rem
        font-weight: bold
        text-transform: uppercase
        color: $blue-hov !important
        border-color: $blue-hov !important
        font-family: OpenSans-Semibold
        &:hover
          color: #fff !important
          border-color: $blue-hov !important
          background-color: $blue-hov !important
      .btn:first-child
        padding-top: 6px
        padding-left: 20px
        letter-spacing: 1px
        width: 160px
        border-top-left-radius: 1.6rem
        border-bottom-left-radius: 1.6rem
        @media (max-width: 1169px)
          width: 135px
          font-size: 0.8rem
          padding-left: 1.2rem
          padding-top: 7px
        @media (max-width: 767px)
          width: 220px
          padding: 10px
          font-size: 0.9rem
      .btn:last-child
        padding-top: 8px
        padding-left: 0.4rem
        width: 50px
        border-top-right-radius: 1.6rem
        border-bottom-right-radius: 1.6rem
        @media (max-width: 1169px)
          width: 35px
          font-size: 0.9rem
          padding-left: 0.5rem
          padding-top: 7px
        @media (max-width: 767px)
          width: 50px
          font-size: 0.9rem
        &:hover
          i 
            color: #fff !important

#myModal-3
  margin: auto auto
  .close
    right: 23px !important
  .far, .fas 
    color: $blue-hov
    transition: color 0.3s ease
  input
    border-color: rgb(206, 212, 218)
    transition: border-color 0.5s ease
  input:focus
    border-color: $blue-hov !important
  .modal-dialog
    width: 790px
    @media (max-width: 1023px)
      width: 696px
    @media (max-width: 767px)
      width: 305px
    .modal-content
      padding: 0 50px 0
      @media (max-width: 1023px)
        .modal-header
          padding: 0
      @media (max-width: 767px)
        padding: 0 10px
        .modal-header
          padding: 0 16px
      .modal-body
        height: 100%
        padding-bottom: 10px
        overflow-y: hidden
        max-height: auto
        @media (max-width: 767px)
          padding-left: 16px
        .container
          padding: 11px 0 11px 0
          .input-group
            div:first-child
              @media (max-width: 767px)
                width: 100%
                margin-right: 0
                span
                  display: none !important
                input
                  width: 113px !important
                i.fa-calendar-alt
                  margin-left: -25px !important
              margin-right: 30px
              display: inline-block
              i.fa-calendar-alt
                position: absolute
                margin: 14px 0 0 -30px
                @media (max-width: 1023px)
                  margin-top: 13px
                @media (max-width: 767px)
                  margin-top: 12px
                cursor: pointer
              i:nth-of-type(2)
                margin: 0 5px 0 7px
                padding-left: 2px
              span
                display: inline-block
                padding: 9px 0
                margin-right: 15px
              input
                display: inline-block
                width: 120px
                padding: 8px 0 7px 15px 
                @media (max-width: 767px)
                  width: 119px
            div:last-child
              display: inline-block
              @media (max-width: 1023px)
                margin-top: 30px 
                span:first-child
                  margin-right: -4px
                  input
                    margin-left: 22px
              @media (max-width: 767px)
                margin-top: 20px 
                span:first-child
                  font-size: 0.85rem
                  margin-right: -4px
                  input
                    margin-left: 5px
                span:last-child
                  font-size: 0.85rem
                span
                  input
                    width: 60px !important
              input
                display: inline-block
                width: 65px
                padding: 8px 0 7px 15px
                margin-left: 11px
                @media (max-width: 767px)
                  margin-left: 5px
              span:last-child
                margin-left: 30px
                @media (max-width: 767px)
                  margin-left: 20px
                input
                  width: 65px
              i 
                position: absolute
              .fa-caret-up
                margin: 8px 0 0 -20px
                @media (max-width: 767px)
                  margin: 10px 0 0 -17px
              .fa-caret-down
                margin: 18px 0 0 -20px
                @media (max-width: 767px)
                  margin: 20px 0 0 -17px
          .block
            padding-top: 42px
            &:last-child
              padding-top: 0
              @media (max-width: 767px)
                padding-top: 10px
              i 
                margin-left: 1px
                margin-right: 5px
              p
                display: inline-block
                text-align: left
                @media (max-width: 767px)
                  max-width: 220px
                  vertical-align: top
                  padding-top: 3px
                a 
                  pointer-events: auto
                  color: $blue-hov
                  &:hover
                    color: $blue
                    text-decoration: none
              p, a 
                font-size: 0.8rem
            h2
              line-height: 31px
              margin-bottom: 5px
              border-bottom: 1px solid #e3e3e3
              @media (max-width: 1023px)
                text-align: left
            .select
              border-bottom: 1px solid #e3e3e3
            .row                
              margin: 0                          
              p, span
                color: $black !important
                font-size: 0.95rem
                line-height: 72px
                padding-bottom: 0
                i 
                  margin-left: 25px
                  @media (max-width: 767px)
                    margin-left: 15px
              p
                span
                  margin-right: 0.15rem
          .mtours
            .row
              > span, p
                font-family: OpenSans-Bold
                @media (max-width: 767px)
                  width: 50%
                  line-height: 1.3rem
                  font-size: 0.8rem
                  span
                    font-size: 0.8rem
              p
                @media (max-width: 767px)
                  text-align: right
              > span
                @media (max-width: 767px)
                  padding-top: 15px
          .block.hotel
            .row
              span
                font-size: 0.882rem
                @media (max-width: 767px)
                  line-height: 1.3rem
                  margin-top: 22px
                  margin-bottom: 22px
                  font-size: 0.8rem
                  padding-left: 1px
          .order-check
            padding-top: 12px
            .row
              span
                padding-top: 22px
                line-height: 25px
                font-size: 0.89rem
                @media (max-width: 767px)
                  font-size: 0.8rem
              .input-group
                margin: 25px 0
                padding-left: 0 !important
                @media (max-width: 767px)
                  margin-bottom: 0
                input                  
                  width: 31%
                  height: 40px
                  border-radius: 7px
                  @media (max-width: 767px)
                    width: 100%
                    margin-bottom: 15px
      .modal-footer
        padding-top: 0
        padding-bottom: 50px
        @media (max-width: 1023px)
          margin: 0 0 40px
          padding: 0 14px !important
        @media (max-width: 767px)
          padding: 0 16px !important
        p
          margin-right: 22px
          @media (max-width: 767px)
            margin-top: 10px
          > span 
            margin-left: 4px
          span
            margin-right: 0
            letter-spacing: 0
            font-size: 1rem
            span
              margin-right: 0.15rem
        .btn-primary
          margin-right: 4px
          width: 195px !important
          margin-right: 0 !important
          @media (max-width: 767px)
            width: 100% !important
            margin-left: 0 
