@import "fonts"

body
  overflow-x: hidden
  h1
      font-family: AristaProFat
      text-transform: uppercase
      padding-bottom: 59px
      letter-spacing: 0.074rem

  .container
    @media (min-width: 1024px)
      font-size: 14px !important

    @media (min-width: 1170px)
      font-size: 14px !important
      max-width: 1170px
      padding-left: 0
      padding-right: 0
      .row
        padding: 0 !important
    .row
      &:first-child
        .col-12:last-child
          p
            text-align: center !important
      &:not(:first-child)
        .col-lg-6
          p
            padding-bottom: 0 !important

    h1, h2, h3
      @media (max-width: 1023px)
        margin: 0 auto
        text-align: center

    h1
      font-family: AristaProFat
      text-transform: uppercase
      letter-spacing: 0.074rem
      @media (min-width: 320px)
        padding-bottom: 35px
        font-size: 1.8rem
      @media (min-width: 768px)
        padding-bottom: 35px
        font-size: 2.93rem
      @media (min-width: 1024px)
        padding-bottom: 46px
        font-size: 2.58rem
      @media (min-width: 1170px)
        padding-bottom: 58px
        font-size: 3.1rem
    p
      font-family: 'OpenSans', arial
      display: block
      margin-bottom: 0 
      padding-bottom: 0
      @media (min-width: 320px)
        text-align: center
        font-size: 0.83rem
        line-height: 1.3rem
      @media (min-width: 768px)
        font-size: 0.91rem
        line-height: 1.5rem
      @media (min-width: 1024px)
        text-align: left
        font-size: 0.83rem
        line-height: 1.5rem
      @media (min-width: 1170px)
        font-size: 0.955rem        
        line-height: 1.5rem
      strong
        font-weight: 500
        font-family: OpenSans-Bold

@media (min-width: 320px)
  .container.header,
  .container.block-top,
  .container.about
    max-width: 768px !important
  .bg-footer
    .container
      max-width: 376px

@media (min-width: 768px)
  .bg-footer
    .container
      max-width: 730px

@media (min-width: 1024px)
  .container.header,
  .container.block-top,
  .container.about
    max-width: 1024px !important
  .bg-footer
    .container
      max-width: 960px

@media (min-width: 1170px)
  .container.header,
  .container.block-top,
  .container.about
    max-width: 1170px !important
  .bg-footer
    .container
      max-width: 1170px

@media (min-width: 1430px) 
  .container.header,
  .container.block-top,
  .container.about
    max-width: 1430px !important

@media (min-width: 1170px) 
  .container.header
    padding-right: 100px
  .bg-footer
    .container
      max-width: 1230px







@media (min-width: 992px)
  .container.tours,
  .container.live
    max-width: 720px
  .col-lg-6
    flex: 0 0 100% !important
    max-width: 100% !important
  .col-lg-4
    flex: 0 0 50% !important
    max-width: 50% !important
@media (min-width: 1024px)
  .col-lg-6
    flex: 0 0 50% !important
    max-width: 50% !important
  .col-lg-4
    flex: 0 0 33.33333% !important
    max-width: 33.33333% !important

.container.tours 
  @media (min-width: 1024px)
    max-width: 900px
  @media (min-width: 1170px)
    max-width: 1170px

.container.live   
  @media (min-width: 1024px)
    max-width: 960px
  @media (min-width: 1170px)
    max-width: 1170px


.bg-forest
  overflow-x: hidden
  

@media (max-width: 1023px)
  .order-last
    order: 1 !important
  .order-first
    order: 13 !important



@import "bg"
@import "blocks"
@import "buttons"
@import "footer"
@import "header"
@import "modal"
@import "variables"


